<h1>enter your task info here</h1>

<form action="/tasks" method="post">
 <label for="title">title: </label>
  <input type="text" name="task[title]">

  <label for="details">details: </label>
  <input type="text" name="task[details]">

  <input type="submit">
</form>
